* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #e8e6e6;
    height: 100vh;
}

html,
body,
.container-modal,
.task-modal div,
.task-actions,
.title,
.new-task,
.tasks-container,
.no-data,
.tasks,
.actions,
.main,
.footer {
    display: flex;
}

body,
html,
.main,
.tasks-container,
.task-modal div {
    flex-direction: column;
}

.container-modal,
.new-task,
.no-data,
.footer {
    justify-content: center;
    align-items: center;
}

body,
html,
.title,
.tasks {
    justify-content: space-between;
}

input,
textarea {
    outline: none;
    box-shadow: rgba(123, 123, 123, 0.359) 5px 5px 5px;
}

.tasks>span,
.actions span,
.new-task,
.task-actions button:nth-of-type(1),
.task-actions button:nth-of-type(2) {
    cursor: pointer;
}

.task-actions button:nth-of-type(1),
.task-actions button:nth-of-type(2) {
    font-weight: bold;
    color: whitesmoke;
}

.task-actions button:nth-of-type(1) {
    box-shadow: rgba(200, 57, 57, 0.66) 5px 5px 5px;
    background-color: rgba(200, 57, 57, 0.912);
}

.task-actions button:nth-of-type(2) {
    box-shadow: rgba(57, 200, 67, 0.66) 5px 5px 5px;
    background-color: rgb(67, 189, 67);
}